extends ../layout

block content 
  h2 新メンバー追加
  //TODOプルダウンでメンバーを追加できるようにする
  
  h2 メンバー一覧
  table(border="2")
    tr
      th 役割
      th 名前
    each member in members
      tr
        td #{member.role}
        td #{member.userName}
