extends ../layout

block content 
  h2= __('views.Profile')

  form(action=`/user`, method="post")
    _method put
    _csrf

    - if(err)
      ul.errors
        each error in err.errors
          li= error.message

    div
      input(name="displayName", value!=user.displayName)

    div
      input(type="submit")